<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-3 left">
      <div class="left-img">

      </div>
    </div>
    <div class="col-9 right">
      <h4 class="pt-3 text-center">Register the event to get more participants</h4>
      <div class="formwrapper px-5">
        <form class="form-example" (submit)="onSubmit(eventForm)">
          <div [formGroup]="eventForm">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Event Name" formControlName="name" autocomplete="off">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Event Organizer" formControlName="organizer" autocomplete="off">
            </mat-form-field>
            <table class="example-full-width" cellspacing="0"><tr>
              <td><mat-form-field class="example-full-width">
                <input matInput placeholder="Place of Event" formControlName="place" autocomplete="off">
              </mat-form-field></td>
              <td><mat-form-field class="example-full-width">
                <span matPrefix>+91 &nbsp;</span>
                <input type="tel" matInput placeholder="Telephone" formControlName="contact" autocomplete="off">
                <mat-icon matSuffix>phone</mat-icon>
              </mat-form-field></td>
            </tr></table>

            <table class="example-full-width" cellspacing="0"><tr>
              <td><mat-form-field class="example-full-width">
                <input matInput [min]="minDate" [matDatepicker]="picker" placeholder="Start Date" formControlName="startDate" autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field></td>
              <td><mat-form-field class="example-full-width">
                <input matInput [min]="minDate" [matDatepicker]="picker1" placeholder="End date" formControlName="endDate" autocomplete="off">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field></td>
            </tr></table>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" formControlName="emailFormControl"
                      required autocomplete="off">
              <!-- <mat-hint>Errors appear instantly!</mat-hint>
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error> -->
            </mat-form-field>
              <!-- <label for="file">Choose File to Upload Poster</label> -->
              <input type="file"
                     id="file"
                     (change)="handleFileInput($event)" formControlName="poster" required autocomplete="off">


          </div>
          <button mat-raised-button class="signup mt-3" type="submit" [disabled]="!eventForm.valid" style="color: blue;">Register Event</button>
        </form>
        </div>
    </div>
  </div>
</div>
