<h5 class="text-center">Pending Application</h5>
<div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="eventName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> eventName </th>
      <td mat-cell *matCellDef="let element"> {{element.eventName}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="organizer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> organizer </th>
      <td mat-cell *matCellDef="let element"> {{element.organizer}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="place">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> place </th>
      <td mat-cell *matCellDef="let element"> {{element.place}} </td>
    </ng-container>
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> startDate </th>
      <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="contact">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> contact </th>
      <td mat-cell *matCellDef="let element"> {{element.contact}} </td>
    </ng-container>
    <ng-container matColumnDef="approval">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Approval </th>
      <td mat-cell *matCellDef="let element;let i=index">
        <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon" (click)="openDialog(i)" class="m-2"></mat-icon>
        <!-- <button mat-button (click)="openDialog(i)">Open dialog</button></td> -->
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>
